@import "../core/main";

$bg_transparent: unquote('$BT$');
$header: unquote('$HDR$');
$text: unquote('$T$');
$link: unquote('$TT$');
$accent: unquote('$A$');
$background: unquote('$B$');
$background2: unquote('$BBT$');
$notifications: unquote('$BTR$');
$bg_opaque: unquote('$O$');
$bg_opaque2: unquote('$OO$');
$divider: unquote('$D$');