/*Phase for Facebook*/

._3x1q ._1553._1553 {
    padding: 60px !important;
}

._3bg5, ._53_- {
    background: #dddddd !important;
}

._52x6 {
    background: #dddddd !important;
}

.jewel, .flyout {
    background: #dddddd !important;

}

._52x6 {
    border-bottom: 10px solid #aaaaaa !important;
}

.c {
    flex: 1 !important;
    padding-top: 25px !important;
}

._2b06 {
	border-top-left-radius: 0px !important;
    border-bottom-left-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
    border-top-right-radius: 18px !important;
	margin-top: 25px !important;
}

.msg {
    background-color: #bbbbbb !important;
    border-bottom-left-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
    border-top-right-radius: 18px !important;
    display: inline-block !important;
    line-height: 16px !important;
    margin-top: 0 !important;
    padding: 6px 12px 7px 12px !important;
}

._1-sk, ._2a_i._2a_i a{
    color: #455A64 !important;
}

body, p, figure, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dd, dt {
    margin: 0 !important; 
    padding: 0 !important;
    background-color: white !important;
}

._15kl, ._15kl, ._5a-2 {
    display: inline !important;
    /* width: 100%; */
    margin: auto !important;
}

._15ks ._15kl::before { border-left: 1px solid transparent !important; }
.touch .darkTouch.touched,.touch .darkTouch .touched,.touch .touched .darkTouch{position:relative}.touch .darkTouch.touched:after,.touch .darkTouch .touched:after,.touch .touched .darkTouch:after{bottom:0 !important;content:'' !important;height:auto !important;left:0 !important;opacity:.4 !important;position:absolute !important;right:0 !important;top:0}
.touch a{cursor:pointer !important;text-decoration:none}.touch.app a,.touch a[href=""],.touch a[href="#"]{-webkit-touch-callout:none}.touchable{cursor:pointer}
._4prr{display:block !important;position:relative}box-sizing:border-box !important;content:'' !important;display:block !important;height:100% !important;left:0 !important;position:absolute !important;top:0 !important;width:100%}.x2 ._4prr::after{height:200% !important;transform:scale(.5) !important;transform-origin:0 0 !important;width:200%}.rtl.x2 ._4prr::after{transform-origin:100% 0}.android.x2 ._4prr:active::after,.android.x2 ._4prr:focus::after{height:100% !important;transform:scale(1) !important;width:100%}._3bhd::after,._3bhd>i,img._3bhd,i._3bhd{border-radius:50%}
.touch .popover_hidden{display:none}.disableClicks #root,.disableClicks #root *{pointer-events:none !important}.disableClicks #root .popover_flyout,.disableClicks #root .popover_flyout *{pointer-events:auto !important}
.img.feedAudienceIcon,.feedAudienceIcon{left:1px !important;position:relative !important;top:1px !important;vertical-align:baseline}.audienceWidgetIcon .img.feedAudienceIcon,.feedAudienceIcon{position:relative !important;top:.4px !important;vertical-align:baseline}.story .feedAudienceIcon{margin-left:5px}.audienceIconSelector{margin-left:-1px !important;white-space:nowrap}
.scrollArea{overflow:hidden !important;position:relative}.scrollArea.fullBleed{overflow:visible}.scrollArea.degraded{overflow:visible}.scrollArea.degraded .scrollAreaBody{transform:none !important;transition:none !important;width:110%}.scrollArea .scrollAreaBody{position:relative !important;z-index:5}.scrollArea-horizontal .scrollAreaBody{display:block !important;white-space:nowrap}.scrollAreaBodyRTL{direction:ltr}.scrollArea-horizontal .scrollAreaColumn{display:inline-block !important;vertical-align:top !important;white-space:nowrap}.scrollAreaColumnContentRTL{direction:rtl}.scrollArea .scrollAreaPaginator{line-height:0 !important;margin-bottom:6px !important;margin-top:8px !important;text-align:center !important;width:100%}.scrollArea .scrollAreaPaginator.scrollAreaExternalPaginator{background:#bbb !important;border-radius:0 0 4px 4px !important;border-top:0 !important;margin:0 !important;margin-bottom:16px !important;padding:8px 0}.scrollArea .scrollAreaPaginatorBubble{background-image:url(/rsrc.php/v3/yb/r/sqqsnh6Qj4g.png) !important;background-position:right !important;background-size:10px !important;display:inline-block !important;height:5px !important;margin:0 3px !important;width:5px}.x2 .scrollArea .scrollAreaPaginatorBubble{background-image:url(/rsrc.php/v3/yf/r/bc7BjitV24C.png)}.scrollArea .scrollAreaPaginatorBubble.scrollAreaPaginatorBubbleActive{background-position:left}
.touch ._4g33,.touch ._5i2i{display:flex}.touch ._52wc{align-items:flex-start}.touch ._52wd{align-items:flex-end}.touch ._52we{align-items:center}.touch ._52wf{align-items:stretch}.touch ._4g34{flex:1 !important;width:0}.touch ._5s61 ._4g34{width:auto}.touch ._4g34 ._5xu4{flex:1 !important;width:100%}.ios.touch ._5xu4,.bb10.touch ._5xu4,.android.touch ._5xu4{margin:-1px}.ff.touch ._4g33{box-sizing:border-box !important;height:100% !important;width:100%}.ff.touch ._4g34{min-width:1px}.ff.touch ._4g34>._5xu4>._5909>._4g33>._4g34,.ff.touch ._4g34>._5909>._4g33>._4g34{width:100%}
.mfsxs{font-size:x-small}.mfss{font-size:small}body,tr,input,textarea,.mfsm{font-size:medium}.mfsl{font-size:large}
.touch .mfsxs{font-size:10px !important;line-height:12px}.touch .mfss{font-size:12px !important;line-height:15px}.touch,.touch tr,.touch input,.touch textarea,.touch .mfsm{font-size:14px !important;line-height:18px}.touch .mfsl{font-size:16px !important;line-height:20px}

#bootloader_9V_ZN{height:42px !important;}.bootloader_9V_ZN{display:block !important;}