._3x1q ._1553._1553 {
    padding: 60px !important;
}

._15kl, ._15kl, ._5a-2 {
    display: inline !important;
    /* width: 100%; */
    margin: auto !important;
}

body{
    padding-bottom: 40px !important;
}

body, p, figure, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dd, dt {
    margin: 0 !important; 
    padding: 0 !important;
    background-color: white !important;
}

.c {
    flex: 1 !important;
    padding-top: 25px !important;
}

._2b06 {
	border-top-left-radius: 0px !important;
    border-bottom-left-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
    border-top-right-radius: 18px !important;
	margin-top: 25px !important;
}

.msg {
    background-color: #bbbbbb !important;
    border-bottom-left-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
    border-top-right-radius: 18px !important;
    display: inline-block !important;
    line-height: 16px !important;
    margin-top: 0 !important;
    padding: 6px 12px 7px 12px !important;
}

._1-sk, ._2a_i._2a_i a{
    color: #000000 !important;
}

.touch .darkTouch.touched,.touch .darkTouch .touched,.touch .touched .darkTouch{position:relative}.touch .darkTouch.touched:after,.touch .darkTouch .touched:after,.touch .touched .darkTouch:after{bottom:0 !important;content:'' !important;height:auto !important;left:0 !important;opacity:.4 !important;position:absolute !important;right:0 !important;top:0}
.touch a{cursor:pointer !important;text-decoration:none}.touch.app a,.touch a[href=""],.touch a[href="#"]{-webkit-touch-callout:none}.touchable{cursor:pointer}
._4prr{display:block !important;position:relative}box-sizing:border-box !important;content:'' !important;display:block !important;height:100% !important;left:0 !important;position:absolute !important;top:0 !important;width:100%}.x2 ._4prr::after{height:200% !important;transform:scale(.5) !important;transform-origin:0 0 !important;width:200%}.rtl.x2 ._4prr::after{transform-origin:100% 0}.android.x2 ._4prr:active::after,.android.x2 ._4prr:focus::after{height:100% !important;transform:scale(1) !important;width:100%}._3bhd::after,._3bhd>i,img._3bhd,i._3bhd{border-radius:50%}
.touch .popover_hidden{display:none}.disableClicks #root,.disableClicks #root *{pointer-events:none !important}.disableClicks #root .popover_flyout,.disableClicks #root .popover_flyout *{pointer-events:auto !important}
.img.feedAudienceIcon,.feedAudienceIcon{left:1px !important;position:relative !important;top:1px !important;vertical-align:baseline}.audienceWidgetIcon .img.feedAudienceIcon,.feedAudienceIcon{position:relative !important;top:.4px !important;vertical-align:baseline}.story .feedAudienceIcon{margin-left:5px}.audienceIconSelector{margin-left:-1px !important;white-space:nowrap}
.scrollArea{overflow:hidden !important;position:relative}.scrollArea.fullBleed{overflow:visible}.scrollArea.degraded{overflow:visible}.scrollArea.degraded .scrollAreaBody{transform:none !important;transition:none !important;width:110%}.scrollArea .scrollAreaBody{position:relative !important;z-index:5}.scrollArea-horizontal .scrollAreaBody{display:block !important;white-space:nowrap}.scrollAreaBodyRTL{direction:ltr}.scrollArea-horizontal .scrollAreaColumn{display:inline-block !important;vertical-align:top !important;white-space:nowrap}.scrollAreaColumnContentRTL{direction:rtl}.scrollArea .scrollAreaPaginator{line-height:0 !important;margin-bottom:6px !important;margin-top:8px !important;text-align:center !important;width:100%}.scrollArea .scrollAreaPaginator.scrollAreaExternalPaginator{background:#bbb !important;border-radius:0 0 4px 4px !important;border-top:0 !important;margin:0 !important;margin-bottom:16px !important;padding:8px 0}.scrollArea .scrollAreaPaginatorBubble{background-image:url(/rsrc.php/v3/yb/r/sqqsnh6Qj4g.png) !important;background-position:right !important;background-size:10px !important;display:inline-block !important;height:5px !important;margin:0 3px !important;width:5px}.x2 .scrollArea .scrollAreaPaginatorBubble{background-image:url(/rsrc.php/v3/yf/r/bc7BjitV24C.png)}.scrollArea .scrollAreaPaginatorBubble.scrollAreaPaginatorBubbleActive{background-position:left}
.touch ._4g33,.touch ._5i2i{display:flex}.touch ._52wc{align-items:flex-start}.touch ._52wd{align-items:flex-end}.touch ._52we{align-items:center}.touch ._52wf{align-items:stretch}.touch ._4g34{flex:1 !important;width:0}.touch ._5s61 ._4g34{width:auto}.touch ._4g34 ._5xu4{flex:1 !important;width:100%}.ios.touch ._5xu4,.bb10.touch ._5xu4,.android.touch ._5xu4{margin:-1px}.ff.touch ._4g33{box-sizing:border-box !important;height:100% !important;width:100%}.ff.touch ._4g34{min-width:1px}.ff.touch ._4g34>._5xu4>._5909>._4g33>._4g34,.ff.touch ._4g34>._5909>._4g33>._4g34{width:100%}
.mfsxs{font-size:x-small}.mfss{font-size:small}body,tr,input,textarea,.mfsm{font-size:medium}.mfsl{font-size:large}
.touch .mfsxs{font-size:10px !important;line-height:12px}.touch .mfss{font-size:12px !important;line-height:15px}.touch,.touch tr,.touch input,.touch textarea,.touch .mfsm{font-size:14px !important;line-height:18px}.touch .mfsl{font-size:16px !important;line-height:20px}

.profpic, ._508n {
            background: transparent;
            border-radius: 50%;
            border: 0px;
        }
        article, aside, figcaption, figure, footer, nav, section, ._7k7, ._55wo, ._2s20, ._55wo._2s20._2s21, ._10c_ ._2jl2 {
            margin: 7px 5px;
            border-radius: 5px;
        }
        ._5gh8 ._15ks:last-child, ._5gh8 ._15ks+._4u3j, ._div._4g33._52we._5fjk._55so._5i-i._ydx, ._15ks:last-child, ._15ks+._4u3j, ._59e9, ._15n_, .touch ._5i2i, ._2zh4, ._15ks  {
            background: transparent;
        }
        .jewel .touchable-notification, .touchable-notification .touchable, .acw, ._3bg5 ._53_-, .jewel ._4l9h, .touch ._55wq {
            margin: 5px 3px;
            border-radius: 5px;
        }
        .aclb {
            margin: 5px 3px;
            border-radius: 5px;
            border-left: 2px solid #607D8B;
            background-color: rgba(0,0,0,0.2) !important;
        }
        ._5msj {
            display: none;
        }
        ._5rgr {
            -webkit-user-select: initial;
        }
        .voice.acw.abt, ._55x2>*, ._55x2._55x2>*, .touch ._55wr {
            border: 0px transparent;
        }
        .touch ._5h8e, .touch ._5h8f, ._u42 ._55fj, .touch .mCount, .touch ._590n  {
            border-radius: 50%;
            color: white;
            background: #455A64;
            border-color: #455A64;
        }
        
        ._527y.btn.btnC.mfss.touchable.iconOnly, .touch ._56bu::before, .touch.wp.x1-5 ._56bu::before, .touch.wp.x2 ._56bu::before, .touch ._56bv::before, .touch.wp.x1-5 ._56bv::before, .touch.wp.x2 ._56bv::before, ._u2d, ._52z5 {
            background: rgb(68,68,68) !important;
        }
        ._59te.popoverOpen, ._59te.isActive {
            background: #455A64;
        }
        .touch ._52t1 {
            border: 1px solid #455A64;
        }
        ._32l5._2rec {
            background: #607D8B;
        }
        .abt {
            border-top: 0px;
        }
        .touch .btnC, .touch .btnI.bgb {
            background: #607D8B;
            border: 0px;
        }
        .touch .btnD.bgb[disabled], .touch .btnC[disabled], .touch .btnI.bgb[disabled] {
            color: white;
        }
        ._3bg5 ._52x1 {
            background: rgba(0,0,0,0.2);
            border-bottom: 0px;
            border-top: 0px;
            text-align: center;
        }
        .touch ._5c9u, .touch ._5ca9, .touch button._5c9u {
            background-color: transparent;
            color: black;
            text-shadow: 0px;
            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
            border: 1px white;
        }
        .touch ._56bt {
            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
            text-shadow: 0px;
        }
        ._5ecn._1n29._2fv6, a._5ecn {
            background: linear-gradient(rgba(252, 252, 252, 0), rgba(0,0,0,0.2));
            background-color: transparent !important;
            border: 0px;
        }
        .touch a._57um {
            color: #455A64;
        }
        header._59e9._55wr {
            background: rgba(0,0,0,0.2);
        }
        ._484w.selected>._6zf {
            border-bottom: 1px solid #455A64 !important;
            color: #455A64 !important;
        }
        ._56bs ._55sr {
         color: #d6d8db;
        }