/*Flash for Facebook*/

/* Verhalen */
._68g3 {
    background-color: #bbbbbb !important;
}

._3-ca ._3-ce {
    color: #ffffff !important;
}

._4vtp, ._4vtl {
    color:  #ffffff !important;
}

/* Verhalen Badge */
._46z0.rectangular {
    color: #ffffff !important;
}

._6m44 {
    color: #ffffff !important;
}

._6pdq {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='iso-8859-1'?%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='#ffffff' width='12' height='12' viewBox='0 0 455 455' style='enable-background:new 0 0 455 455;' xml:space='preserve'%3E%3Cpolygon points='455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 455,242.5 '/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E") !important;
    width: 12px !important;
    height: 12px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
	background-size: 120% !important;
	}
	
._6pdp {
    background-color: #bbbbbb !important;
	color: #ffffff !important;
}

._6m3_.profilePic ._6pdp ._6m3n {
    background-color: #bbbbbb !important;
	color: #ffffff !important;
}

._6m3_.fbLite ._6pdp {
    top: 4px !important;
    height: 24px !important;
    right: 4px !important;
	left: 58px !important;
    position: absolute !important;
    width: 24px !important;
}

._6m46 {
    align-items: center !important;
    background-color: #bbbbbb !important;
    border-radius: 40px !important;
    display: flex !important;
    font-size: 12px !important;
    height: 16px !important;
    justify-content: center !important;
    min-width: 16px !important;
    padding: 4px !important;
    position: absolute !important;
    right: 4px !important;
    top: 4px !important;
}

/* 3 stippen */
a.sec, ._4q31 {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' fill='#616770' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z' /%3E%3C/svg%3E") !important;
    width: 24px !important;
    height: 24px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

._45wg, ._6c0p {
    display: none !important;
}

._3u14 ._3u15 {
    opacity: 9 !important;
    transition: opacity 1s !important;
}

._5pxa ._5pxb, ._5pxa ._2b4m {
	margin: 4px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 6px 1px 18px #666666 !important;
    -moz-box-shadow: 6px 1px 18px #666666 !important;
    box-shadow: 6px 1px 18px #666666 !important;
    font-family: Arial !important;
    font-size: 14px !important;
    background: #ffffff !important;
    padding: 6px 10px 6px 10px !important;
    text-decoration: none !important;
}

/*Liken*/
._15ko {
    display: inline-block !important;
    /* width: 100%; */
    margin: auto !important;
	/*padding: 6px 8px 8px 8px !important;*/
    image-rendering: auto;
    background-repeat: no-repeat !important;
    /*background-size: 10px !important;*/
    background-position: left 35% !important;
    padding-left: 17px !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='iso-8859-1'?%3E%3C!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill= '#616770' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 478.2 478.2' style='enable-background:new 0 0 478.2 478.2;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M457.575,325.1c9.8-12.5,14.5-25.9,13.9-39.7c-0.6-15.2-7.4-27.1-13-34.4c6.5-16.2,9-41.7-12.7-61.5 c-15.9-14.5-42.9-21-80.3-19.2c-26.3,1.2-48.3,6.1-49.2,6.3h-0.1c-5,0.9-10.3,2-15.7,3.2c-0.4-6.4,0.7-22.3,12.5-58.1 c14-42.6,13.2-75.2-2.6-97c-16.6-22.9-43.1-24.7-50.9-24.7c-7.5,0-14.4,3.1-19.3,8.8c-11.1,12.9-9.8,36.7-8.4,47.7 c-13.2,35.4-50.2,122.2-81.5,146.3c-0.6,0.4-1.1,0.9-1.6,1.4c-9.2,9.7-15.4,20.2-19.6,29.4c-5.9-3.2-12.6-5-19.8-5h-61 c-23,0-41.6,18.7-41.6,41.6v162.5c0,23,18.7,41.6,41.6,41.6h61c8.9,0,17.2-2.8,24-7.6l23.5,2.8c3.6,0.5,67.6,8.6,133.3,7.3 c11.9,0.9,23.1,1.4,33.5,1.4c17.9,0,33.5-1.4,46.5-4.2c30.6-6.5,51.5-19.5,62.1-38.6c8.1-14.6,8.1-29.1,6.8-38.3 c19.9-18,23.4-37.9,22.7-51.9C461.275,337.1,459.475,330.2,457.575,325.1z M48.275,447.3c-8.1,0-14.6-6.6-14.6-14.6V270.1 c0-8.1,6.6-14.6,14.6-14.6h61c8.1,0,14.6,6.6,14.6,14.6v162.5c0,8.1-6.6,14.6-14.6,14.6h-61V447.3z M431.975,313.4 c-4.2,4.4-5,11.1-1.8,16.3c0,0.1,4.1,7.1,4.6,16.7c0.7,13.1-5.6,24.7-18.8,34.6c-4.7,3.6-6.6,9.8-4.6,15.4c0,0.1,4.3,13.3-2.7,25.8 c-6.7,12-21.6,20.6-44.2,25.4c-18.1,3.9-42.7,4.6-72.9,2.2c-0.4,0-0.9,0-1.4,0c-64.3,1.4-129.3-7-130-7.1h-0.1l-10.1-1.2 c0.6-2.8,0.9-5.8,0.9-8.8V270.1c0-4.3-0.7-8.5-1.9-12.4c1.8-6.7,6.8-21.6,18.6-34.3c44.9-35.6,88.8-155.7,90.7-160.9 c0.8-2.1,1-4.4,0.6-6.7c-1.7-11.2-1.1-24.9,1.3-29c5.3,0.1,19.6,1.6,28.2,13.5c10.2,14.1,9.8,39.3-1.2,72.7 c-16.8,50.9-18.2,77.7-4.9,89.5c6.6,5.9,15.4,6.2,21.8,3.9c6.1-1.4,11.9-2.6,17.4-3.5c0.4-0.1,0.9-0.2,1.3-0.3 c30.7-6.7,85.7-10.8,104.8,6.6c16.2,14.8,4.7,34.4,3.4,36.5c-3.7,5.6-2.6,12.9,2.4,17.4c0.1,0.1,10.6,10,11.1,23.3 C444.875,295.3,440.675,304.4,431.975,313.4z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
	}
	
._15ko._2q8z:focus {
    display: inline-block !important;
    /* width: 100%; */
    margin: auto !important;
	/*padding: 6px 8px 8px 8px !important;*/
    image-rendering: auto;
    background-repeat: no-repeat !important;
    /*background-size: 10px !important;*/
    background-position: left 35% !important;
    padding-left: 17px !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='iso-8859-1'?%3E%3C!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill= 'rgb(64, 128, 255)' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 478.2 478.2' style='enable-background:new 0 0 478.2 478.2;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M457.575,325.1c9.8-12.5,14.5-25.9,13.9-39.7c-0.6-15.2-7.4-27.1-13-34.4c6.5-16.2,9-41.7-12.7-61.5 c-15.9-14.5-42.9-21-80.3-19.2c-26.3,1.2-48.3,6.1-49.2,6.3h-0.1c-5,0.9-10.3,2-15.7,3.2c-0.4-6.4,0.7-22.3,12.5-58.1 c14-42.6,13.2-75.2-2.6-97c-16.6-22.9-43.1-24.7-50.9-24.7c-7.5,0-14.4,3.1-19.3,8.8c-11.1,12.9-9.8,36.7-8.4,47.7 c-13.2,35.4-50.2,122.2-81.5,146.3c-0.6,0.4-1.1,0.9-1.6,1.4c-9.2,9.7-15.4,20.2-19.6,29.4c-5.9-3.2-12.6-5-19.8-5h-61 c-23,0-41.6,18.7-41.6,41.6v162.5c0,23,18.7,41.6,41.6,41.6h61c8.9,0,17.2-2.8,24-7.6l23.5,2.8c3.6,0.5,67.6,8.6,133.3,7.3 c11.9,0.9,23.1,1.4,33.5,1.4c17.9,0,33.5-1.4,46.5-4.2c30.6-6.5,51.5-19.5,62.1-38.6c8.1-14.6,8.1-29.1,6.8-38.3 c19.9-18,23.4-37.9,22.7-51.9C461.275,337.1,459.475,330.2,457.575,325.1z M48.275,447.3c-8.1,0-14.6-6.6-14.6-14.6V270.1 c0-8.1,6.6-14.6,14.6-14.6h61c8.1,0,14.6,6.6,14.6,14.6v162.5c0,8.1-6.6,14.6-14.6,14.6h-61V447.3z M431.975,313.4 c-4.2,4.4-5,11.1-1.8,16.3c0,0.1,4.1,7.1,4.6,16.7c0.7,13.1-5.6,24.7-18.8,34.6c-4.7,3.6-6.6,9.8-4.6,15.4c0,0.1,4.3,13.3-2.7,25.8 c-6.7,12-21.6,20.6-44.2,25.4c-18.1,3.9-42.7,4.6-72.9,2.2c-0.4,0-0.9,0-1.4,0c-64.3,1.4-129.3-7-130-7.1h-0.1l-10.1-1.2 c0.6-2.8,0.9-5.8,0.9-8.8V270.1c0-4.3-0.7-8.5-1.9-12.4c1.8-6.7,6.8-21.6,18.6-34.3c44.9-35.6,88.8-155.7,90.7-160.9 c0.8-2.1,1-4.4,0.6-6.7c-1.7-11.2-1.1-24.9,1.3-29c5.3,0.1,19.6,1.6,28.2,13.5c10.2,14.1,9.8,39.3-1.2,72.7 c-16.8,50.9-18.2,77.7-4.9,89.5c6.6,5.9,15.4,6.2,21.8,3.9c6.1-1.4,11.9-2.6,17.4-3.5c0.4-0.1,0.9-0.2,1.3-0.3 c30.7-6.7,85.7-10.8,104.8,6.6c16.2,14.8,4.7,34.4,3.4,36.5c-3.7,5.6-2.6,12.9,2.4,17.4c0.1,0.1,10.6,10,11.1,23.3 C444.875,295.3,440.675,304.4,431.975,313.4z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
	}
	
/*Opmerking Plaatsen*/
._15kq {
    display: inline-block !important;
    /* width: 100%; */
    margin: auto !important;
	/*padding: 6px 8px 8px 8px !important;*/
    image-rendering: auto;
    background-repeat: no-repeat !important;
    /*background-size: 10px !important;*/
    background-position: left 40% !important;
    padding-left: 17px !important;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill= '#616770' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 612 612' style='enable-background:new 0 0 612 612;' xml:space='preserve'%3E%3Cg id='_x32__26_'%3E%3Cpath d='M401.625,325.125h-191.25c-10.557,0-19.125,8.568-19.125,19.125s8.568,19.125,19.125,19.125h191.25 c10.557,0,19.125-8.568,19.125-19.125S412.182,325.125,401.625,325.125z M439.875,210.375h-267.75 c-10.557,0-19.125,8.568-19.125,19.125s8.568,19.125,19.125,19.125h267.75c10.557,0,19.125-8.568,19.125-19.125 S450.432,210.375,439.875,210.375z M306,0C137.012,0,0,119.875,0,267.75c0,84.514,44.848,159.751,114.75,208.826V612 l134.047-81.339c18.552,3.061,37.638,4.839,57.203,4.839c169.008,0,306-119.875,306-267.75C612,119.875,475.008,0,306,0z M306,497.25c-22.338,0-43.911-2.601-64.643-7.019l-90.041,54.123l1.205-88.701C83.5,414.133,38.25,345.513,38.25,267.75 c0-126.741,119.875-229.5,267.75-229.5c147.875,0,267.75,102.759,267.75,229.5S453.875,497.25,306,497.25z'/%3E%3C/g%3E%3C/svg%3E");
	}
	
/*Delen*/
._15kr {
    display: inline-block !important;
    /* width: 100%; */
    margin: auto !important;
	/*padding: 6px 8px 8px 8px !important;*/
    image-rendering: auto;
    background-repeat: no-repeat !important;
    /*background-size: 10px !important;*/
    background-position: left 40% !important;
    padding-left: 17px !important;
    background: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='iso-8859-1'?%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill= '#616770' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512.004 512.004' style='enable-background:new 0 0 512.004 512.004;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M411.324,228.678l-160-160c-4.576-4.544-11.424-5.888-17.44-3.456c-5.984,2.464-9.888,8.32-9.888,14.784v80.544 c-110.432,7.552-201.792,92.736-215.68,204l-8.192,65.472c-0.928,7.456,3.424,14.56,10.528,17.056 c1.76,0.608,3.552,0.928,5.344,0.928c5.376,0,10.592-2.752,13.568-7.52l16.096-25.792c37.056-59.296,100.96-94.688,170.88-94.688 h7.456v80c0,6.464,3.904,12.32,9.888,14.784c6.016,2.432,12.832,1.088,17.44-3.456l160-160 C417.564,245.062,417.564,234.95,411.324,228.678z M255.996,361.382v-57.376c0-8.832-7.168-16-16-16H216.54 c-68.768,0-132.512,29.568-176.48,80.544c12.576-100.672,98.528-176.544,199.936-176.544c8.832,0,16-7.168,16-16V118.63 l121.376,121.376L255.996,361.382z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M507.324,228.71l-160-160.032c-6.24-6.24-16.384-6.24-22.624,0s-6.24,16.384,0,22.624l148.672,148.704L324.7,388.678 c-6.24,6.24-6.24,16.384,0,22.624c3.104,3.136,7.2,4.704,11.296,4.704s8.192-1.568,11.328-4.672l160-160 C513.564,245.094,513.564,234.95,507.324,228.71z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
	}

._3x1q ._1553._1553 {
    padding: 60px !important;
}

._15kl, ._15kl, ._5a-2 {
    display: inline !important;
    /* width: 100%; */
    margin: auto !important;
}

body{
    padding-bottom: 40px !important;
}

body, p, figure, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dd, dt {
    margin: 0 !important; 
    padding: 0 !important;
}

.c {
    flex: 1 !important;
    padding-top: 25px !important;
}

._2b06 {
	border-top-left-radius: 0px !important;
    border-bottom-left-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
    border-top-right-radius: 18px !important;
	margin-top: 25px !important;
}

.msg {
    background-color: #bbbbbb !important;
    border-bottom-left-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
    border-top-right-radius: 18px !important;
    display: inline-block !important;
    line-height: 16px !important;
    margin-top: 0 !important;
    padding: 6px 12px 7px 12px !important;
}

article, #mbasic_inline_feed_composer, #MComposer, #MStoriesTray, .timelinePublisher, ._10c_ ._2jl2, ._55wr._4g33._52wc._2-ck._51s, ._59e9._55wr._4g33._400s, ._55wo._4g34, #friends_center_main, .touch._5b6o:not(.touchable),  ._2ykg .unreadMessage, #owned_pages_section, #liked_pages_section, .item.tall.acw.abb, ._4g34._5o41, [data-sigil*="section-loader"] {
margin: 12px 12px !important;
border-radius: 2px;
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
}

._3bg5 ._53_-, li, ._55wq ._4g33 ._5vbx, ._1_oa._4gvh._1w-s._1_od, ._1_oa._4gvh._1w-s, .item.buddylistItem.itemWithAction.acw.abt, div[data-sigil*="notification marea"], [id*="threadlist_row_other_user_fbid_"] {
display: block;
margin: 4px 12px !important;
border-radius: 2px;
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
}


._55x2>*, ._55x2._55x2>*{
border-bottom-color: transparent;
border-bottom: 1px solid transparent;
}

._3bg5 ._52x1, .abb {
border-top: none;
border-bottom: none;
padding: 4px 24px;
}

.profpic, .item ._1_0l {
border-radius: 100px !important;
}

.jewel .flyout, #page, #notifications_list, ._3bg5 ._52x1, ._vqv, #threadlist_rows, ._djv._bjn._bjp._5ek4._3gwg._2c_g, #u_0_0, #root{background: #dcdee3;}

._5xu4>._55wr, ._tn0 { background: transparent !important;  background-color: transparent !important; }

.touch ._55wr, ._50pc,  .touch._5b6o:not([id*="thread_"]), ._1_oa._4gvh._1w-s._1_od, ._1_oa._4gvh._1w-s, ._3to4, #owned_pages_section, #liked_pages_section, .item.tall.acw.abb, .item.buddylistItem.itemWithAction.acw.abt{background:white;}

.touch ._5b6o:not(.touchable), [id*="threadlist_row_other_user_fbid_"] {padding:5px !important;}


._2k51, ._bji, [data-sigil*="section-loader"] {
border-bottom: 2px solid #e9eaed;
background: white;

}
._4prr::after, ._hy3, ._gui, ._56be::before, ._tn0 {
border: none !important;
outline: none !important;
}
